@import 'src/scss/variables';

.todoItem {
  display: grid;
  grid-template-columns: 75fr 20fr;
  grid-gap: 5fr;

  padding: 10px 0 10px 5px;

  border-left: 3px solid $primary;
  border-start-end-radius: 5px;
  border-end-end-radius: 5px;
  box-shadow: 5px 5px 10px $secondary;

  &_done {
    border-left: 3px solid $secondary;
  }

  &:hover {
    transform: scale(1.02);
    transition-duration: 200ms;
  }

  &__label {
    &_done {
      text-decoration: line-through;
      color: $secondary;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: $primary;

    &_done {
      color: $secondary;
    }
  }

  &__checkbox {
    padding-left: 10px;
  }

}